@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter SemiBold';
    src: url('../fonts/Inter-SemiBold.ttf');
}

body {
    font-family: 'Inter';
}

.input-group > .form-control {
    padding-right: 42px;
    z-index: 0;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.input-group > button {
    position: absolute;
    right: 0;
    height: 100%;
    color: gray;
    background-color: transparent;
    border: 0;
    z-index: 3;
}

.input-group > button:focus {
    box-shadow: none;
}

.connect-account {
    background: linear-gradient(to left, #7b4397, #dc2430);
    border: none;
}

.form-control {
    border-color: rgba(220, 36, 48, 0.5);
}

.form-control:focus {
    border-color: rgba(220, 36, 48, 0.3);
    box-shadow: 0 0 0 0.2rem rgba(220, 36, 48, 0.25);
}

.btn-default {
    color: white;
    background-color: crimson;
    border-color: crimson;
}

.btn-default:hover {
    color: white;
    background-color: #c3092c;
}

.btn-default:focus {
    box-shadow: 0 0 0 0.2rem rgb(237 20 61 / 0.5);
}

a, a:hover {
    color: crimson;
}

.h-separator {
    height: 4rem;
}

.card {
    border: 1px solid rgb(237 20 61 / 0.4);
}

.recent-searches-wrapper {
    font-size: 0.8rem;
    text-align: left;
    color: #721c24;
}

.recent-searches-wrapper a {
    color: inherit;
}

.recent-searches-wrapper .alert {
    padding: 0.2rem 0.5rem;
    background-color: rgb(237 20 61 / 0.2);
}

.recent-searches-wrapper .alert > button {
    font-size: 1rem;
    padding: 0.28rem 0.5rem;
}

.result-link, .result-link:hover {
    text-decoration: unset;
    color: unset;
}

.result-link > .card:hover {
    background-color: rgb(237 20 61 / 0.2);
}

.result-link i {
    color: crimson;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-picture-wrapper {
    background: linear-gradient(to left, #7b4397, #dc2430);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    padding: 5px;
}

.media-tabs-wrapper {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.media-tabs-wrapper a {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
}

.media-tab-title > i {
    font-size: larger;
    vertical-align: middle;
}

.media-tab-title > span {
    vertical-align: middle;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: crimson;
}

.pre-wrap {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.biography-size {
    font-size: 0.9rem;
}

.media-grid > div:nth-of-type(3n+3) > .media-wrapper {
    margin-right: 0;
}

@media (min-width: 768px) {
    .media-grid > div:nth-of-type(3n+3) > .media-wrapper {
        margin-right: 0.25rem;
    }

    .media-grid > div:nth-of-type(4n+4) > .media-wrapper {
        margin-right: 0;
    }
}

.media-grid button {
    color: crimson;
}

.media-wrapper {
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.media-wrapper::before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}
.media-wrapper:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}

.media-wrapper img {
    width: 100%;
    height: 119px;
    object-fit: cover;
}

.media-wrapper > figcaption {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 1.5rem;
    padding-right: 0.3rem;
    text-shadow: -1px -1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525, 1px 1px 0 #252525;
}

@media (min-width: 768px) {
    .media-wrapper img {
        width: 100%;
        height: 228px;
        object-fit: cover;
    }
}

.media-wrapper > button  {
    color: crimson !important;
}

.add-more-content {
    min-width: 50%;
    margin: 1rem auto;
}

.page-separator {
    width: 100%;
    border-style: dashed;
}

#view_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 2;
  animation-name: slideUp;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  -webkit-animation-name: slideUp;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
}

#view_bar {
    padding: 0.1rem 0.5rem;
    font-size: 1.4rem;
}

#view_bar a {
    color: unset;
}

#view_bar span {
    padding-right: 1rem;
    vertical-align: middle;
    font-size: smaller;
}

.view-bar-close {
    background: transparent;
    border: 1px solid transparent;
    vertical-align: middle;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out;
}

.view-bar-close:hover {
    border: 1px solid black;
}

#view_content {
    height: calc(100% - 56px);
    overflow-y: auto;
}

#view_content p {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.view-content-media, #view_description {
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media (min-width: 768px) {
    .view-content-media, #view_description {
        max-height: 100%;
        position: absolute;
    }

    #view_description {
        overflow-y: auto;
    }
}

.publication-date {
    text-transform: uppercase;
}

#view_comments span, #view_comments p {
    font-size: 0.9rem;
}

#view_comments a {
    color: inherit;
    text-decoration: none;
}

.gallery-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
    font-weight: bold;
    font-size: 4rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    height: intrinsic;
    height: -moz-max-content;
    height: -webkit-max-content;
    height: max-content;
    opacity: 0.9;
}

.gallery-arrow.left {
    left: 0;
}

.gallery-arrow.right {
    right: 0;
}

.gallery-arrow:hover {
    color: white;
    border-color: rgb(0 0 0 / 0.5);
}

.gallery-switch-buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    z-index: 1;
}

.gallery-switch-buttons > button {
    font-size: 1.5rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.gallery-switch-buttons > .btn.active {
    color: crimson;
}

.gallery-arrow:focus, .gallery-switch-buttons > .btn:focus {
    box-shadow: unset;
}

.spinner-wrapper {
    padding: 1.5rem;
}

.spinner {
    position: relative;
    border: 4px solid rgb(195 9 44 / 0.4);
    border-top-color: crimson;
    border-radius: 50%;
    margin: 0 auto;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

@keyframes slideUp {
    0% {
        transform: translate(0%,110%);
    }
    50% {
        transform: translate(0%,100%);
    }
    100% {
        transform: translate(0%,0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        transform: translate(0%,110%);
    }
    50% {
        transform: translate(0%,100%);
    }
    100% {
        transform: translate(0%,0%);
    }
}