@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter SemiBold';
    src: url('../fonts/Inter-SemiBold.ttf');
}

body {
    font-family: 'Inter';
}

.input-group > .form-control {
    padding-right: 42px;
    z-index: 0;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.input-group > button {
    position: absolute;
    right: 0;
    height: 100%;
    color: gray;
    background-color: transparent;
    border: 0;
    z-index: 3;
}

.input-group > button:focus {
    box-shadow: none;
}

.connect-account {
    background: linear-gradient(to left, #7b4397, #dc2430);
    border: none;
}

.form-control {
    border-color: rgba(220, 36, 48, 0.5);
}

.form-control:focus {
    border-color: rgba(220, 36, 48, 0.3);
    box-shadow: 0 0 0 0.2rem rgba(220, 36, 48, 0.25);
}

.btn-default {
    color: white;
    background-color: crimson;
    border-color: crimson;
}

.btn-default:hover {
    color: white;
    background-color: #c3092c;
}

a, a:hover {
    color: crimson;
}

.h-separator {
    height: 6rem;
}

.card {
    border: 1px solid rgb(237 20 61 / 0.4);
}

.recent-searches-wrapper {
    padding-top: 0.5rem;
    font-size: 0.8rem;
    text-align: left;
    color: #721c24;
}

.recent-searches-wrapper a {
    color: inherit;
}

.recent-searches-wrapper .alert {
    padding: 0.2rem 0.5rem;
    background-color: rgb(237 20 61 / 0.2);
}

.recent-searches-wrapper .alert > button {
    font-size: 1rem;
    padding: 0.28rem 0.5rem;
}

.result-link, .result-link:hover {
    text-decoration: unset;
    color: unset;
}

.result-link > .card:hover {
    background-color: rgb(237 20 61 / 0.2);
}

.result-link i {
    color: crimson;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-picture-wrapper {
    background: linear-gradient(to left, #7b4397, #dc2430);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    padding: 5px;
}

.media-tabs-wrapper {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
}

.media-tab-title {
    font-size: 1.1rem;
}

.media-tab-title > i {
    font-size: larger;
    vertical-align: middle;
}

.media-tab-title > span {
    vertical-align: middle;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: crimson;
}

.pre-wrap {
    white-space: pre-wrap;
}

.biography-size {
    font-size: 0.9rem;
}

.multimedia-grid > div:nth-of-type(3n+3) > .media-wrapper {
    margin-right: 0;
}

@media (min-width: 768px) {
    .multimedia-grid > div:nth-of-type(3n+3) > .media-wrapper {
        margin-right: 0.25rem;
    }

    .multimedia-grid > div:nth-of-type(4n+4) > .media-wrapper {
        margin-right: 0;
    }
}

.multimedia-grid button {
    color: crimson;
}

.media-wrapper {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.media-wrapper::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.media-wrapper:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}

.media-wrapper img {
    width: 100%;
    height: 119px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .media-wrapper img {
        width: 100%;
        height: 228px;
        object-fit: cover;
    }
}

.media-wrapper > button  {
    color: crimson !important;
}

.spinner-wrapper {
    padding: 1.5rem;
}

.spinner {
    position: relative;
    border: 4px solid rgb(195 9 44 / 0.4);
    border-top-color: crimson;
    border-radius: 50%;
    margin: 0 auto;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}